body
{
    text-align: center;
}

.row {
    display: inline-block;
}

.buttonClass {
    width: 25px;
    height: 25px;
    margin: 10px;
    margin-right: 11px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.board {
    background-image: url(images/PenteBoard_sm.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 950px;
    padding: 100px;
}